<div class="main-container flexCol">
  <h3>О компании</h3>
  <span class="text">История компании началась в 1996 году. С тех пор компания выросла до представительств в России, Украине, 
  Беларуси, Казахстане и Германии. Список открытых направлений постоянно увеличивается, и сегодня наши туристы 
  могут отправиться в любую из 51 страны — от теплой Турции до загадочного Перу.</span>

  <h3>Отели</h3>
  <span class="text">С Нами вы всегда найдете идеально подходящий вариант проживания. Огромное количество отелей, 
  апартаментов и гостевых домов по всему миру гарантированно предоставляют места для наших туристов в любое время.</span>

  <h3>Авиа и страховка</h3>
  <span class="text">Мы сотрудничаем с крупными перевозчиками, а также надежными страховыми компаниями. Благодаря нашему тщательному 
  выбору партнеров вы можете не переживать о безопасности своего отдыха.</span>

  <h3>Круглосуточная поддержка</h3>
  <span class="text">Специалисты собственных офисов компании в разных странах помогут с решением любых вопросов в путешествии — 
  от встречи в аэропорту и проведения экскурсии до помощи при наступлении страхового случая, а сотрудники 
  колл-центра обеспечат максимально оперативную поддержку туристов.</span>
</div>