<div class="review-container flexCol">
    <div class="read-review">
        <div class="title"><h3>Вы можете оставить о нас отзыв</h3></div>
        <div class="review-text">
            <textarea id="review-input" rows="7" cols="60"></textarea>
        </div>
        <div class="review-action">
            <input id="review-btn" type="button" value="Сохранить" />
            <div class="error-div"></div>
        </div>
    </div>
    <div class="write-review">
        <div class="title"><h3>Последние отзывы</h3></div>
        <div class="review-list"></div>
    </div>
    <div class="clients flexCol">
        <div class="title"><h3>Наши знаменитые клиенты</h3></div>
        <div class="client-list flexRow">
            <div class="client-item flexCol">
                <div class="text">Киркоров</div>
                <img src="../images/clients/kirkorov_1.jpg" alt="Киркоров"/>
            </div>
            <div class="client-item flexCol">
                <div class="text">Меладзе</div>
                <img src="../images/clients/meladze_1.jpg" alt="Меладзе"/>
            </div>
        </div>
    </div>
</div>
<script src="../js/review.js"></script>