<div class="tours-container flexCol">
    <div class="search-block flexCol">
        <div class="title"><h3>Подберите тур по параметрам</h3></div>
        <div class="inputs flexRow">
            <div class="input">
                <span>Дата вылета</span>
                <input id="startDate" type="date"/>
            </div>
            <div class="input">
                <span>Дата прилёта</span>
                <input id="endDate" type="date"/>
            </div>
            <div class="input">
                <span>Максимальная цена билета</span>
                <input id="cost" type="number"/>
            </div>
            <div class="input">
                <button id="action">Найти</button>
            </div>
        </div>
        <div class="error-div"></div>
    </div>
    <div class="search-res"></div>
</div>
<script src="../js/tours.js"></script>